@import "tailwindcss" reference;


.submission-container-card {
   @apply overflow-hidden flex flex-col;
}

.submission-image-container {
   @apply relative rounded-2xl overflow-hidden aspect-video;
}

.submission-image {
   @apply w-full h-full object-cover;
}

.submission-duration {
   @apply absolute bg-[rgb(var(--color-green)/0.5)] text-xs px-1 bottom-2 right-2 rounded-lg border-2 border-[rgb(var(--color-green))];
}

.submission-rating {
   @apply absolute top-2 left-2 flex items-center gap-1 text-xs font-bold px-2 py-0.5 rounded-lg bg-yellow-500/80 text-black;
}

.submission-content {
   @apply px-1;
}

.submission-title h2 {
   @apply font-bold text-base sm:text-lg;
}

.submission-details p {
   @apply text-xs text-[rgb(var(--color-grey))];
}

.submission-country {
   @apply text-right;
}