@import "tailwindcss" reference;
@import "../../theme.css";

.submission-container-card {
   @apply overflow-hidden flex flex-col;
}

.submission-image-container {
   @apply relative rounded-2xl overflow-hidden;
}

.submission-image {
   @apply w-full h-full object-cover;
}

.submission-duration {
   @apply absolute bg-(--color-green)/80 text-xs px-1 bottom-2 right-2 rounded-lg border-2 border-(--color-green);
}

.submission-content {
   @apply p-2 flex flex-col;
}