@import "tailwindcss";

@theme {
  --color-black: 0 0 0;
  --color-bg: 5 5 5;
  --color-surface: 8 8 8;
  --color-blue: 43 127 255;
  --color-cyan: 0 184 218;
  --color-sky: 81 162 255;
  --color-green: 0 212 0;
  --color-red: 239 68 68;
  --color-white: 255 254 254;
  --color-grey: 98 98 98;
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/arimo/Arimo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/arimo/Arimo-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}